# Maven
target/
dependency-reduced-pom.xml

# Java
*.class

# Logs
*.log

# Visual Studio Code
.vscode/

# IntelliJ IDEA
.idea/

# NetBeans
nbproject/private/

# Archivos del sistema
.DS_Store
Thumbs.db